@import "normalize.scss";

body {
    background-color: #333;
}

button {
    border-radius: 3px;
    border: none;
    font-size: 30px;
    padding: 20px;

    &.primary {
        background-color: #55F;
        color: white;

        &.add {
            background-color: #3C883C;
        }
    }

    &.secondary {
        background-color: #999;
        color: white;
    }

    &:disabled {
        color: rgba(255, 255, 255, .4);
    }
}

.overlay {
    background-color: rgba(0,0,0,.5);
    bottom: 0px;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 10;
}

.boot, .addModal {
    background-color: #131111;
    border-radius: 5px;
    color: white;
    font-size: 30px;
    margin: 0px auto;
    margin-top: 150px;
    padding: 30px;
    text-align: center;
    width: 500px;

    button {
        margin: 10px;
    }
}

.home {
    overflow: hidden;
    text-align: center;

    .toggle-row {
        padding: 10px;

        .toggle {
            width: 200px;
            background-color: white;
            color: #131111;


            &.selected {
                background-color: #55F;
                color: white;
            }

            &:first-child {
                border-right: 1px solid #E4E4E4;
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
                margin-right: -4px;
            }

            &:last-child {
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
                margin-left: -5px;
            }
        }
    }

    .button-row {
        padding: 10px;
    }

    @keyframes slidein {
        from {
            right: 0px;
            top: 0%;
        }

        50% {
            right: 25%;
            top: 55%;
        }

        to {
            right: 100%;
            top: -20%;
        }
    }

    .aircraft {
        color: white;
        padding: 20px;
        width: 225px;

        &.animate {
            -webkit-animation-duration: 5s;
            -webkit-animation-iteration-count: 1;
            -webkit-animation-name: slidein;
            position: absolute;
            right: 100%;
            top: -20%;
            z-index: 3;
        }

        &.list {
            position: relative;
            margin-bottom: 20px;
        }

        .info {
            text-transform: capitalize;
        }

        &.cargo {
            background-color: #351C15;
        }

        &.passenger {
            background-color: rgb(48, 76, 178);
        }

        &.large {
            font-size: 40px;
        }

        &.small {
            font-size: 25px;
        }

        .this-should-be {
            font-size: 15px;
        }
    }

    .queue {
        background-color: #131111;
        bottom: 0px;
        padding: 10px;
        position: absolute;
        right: 0px;
        text-align: center;
        top: 0px;
        width: 270px;
        z-index: 1;
    }

    footer {
        background-color: #131111;
        bottom: 0px;
        left: 0px;
        padding: 30px;
        position: absolute;
        right: 0px;
        z-index: 2;
    }
}


